.App {
  max-width: 1024px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.App-header {
  font-size: calc(10px + 2vmin);
  font-family: monospace;
  width: 100%;
}

.App-search {
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font: inherit;
  padding: 16px 24px;
  max-width: 100%;
}
.App-search:focus {
  outline: none;
}

.App-media-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin: 0; 
  width: 100%;
}

.App-media-title {
  display: block;
  font-weight: 300;
  width: 100%;
  font-size: 140%;
  border-bottom: 1px solid darkgray;
  /* text-transform: uppercase; */
}

.App-media-item {
  list-style: none;
  border-radius: 3px;
  border: 1px solid darkgray;
  padding: 36px;
  margin: 8px;
  text-decoration: none;
  width: fit-content;
}
.App-media-item:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: black;
  transform: scale(1.02);
}

.App-media-item-link {
  text-decoration: none;
  color: unset;
}

.App-full-content-container {
  /* border: 1px solid darkgray; */
  padding-left: 32px;
  width: 100%;
  height: 100%;
  font: inherit;
}

.App-full-content-title {
  font-weight: 200;
  font-size: 320%;
  font-style: italic;
  margin: 24px 0;
}

.App-full-content-director {
  cursor: pointer;
  text-decoration-line: underline;
  paddind-right: 8px;
}
